<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create New Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />

</head>
<body>
<div class="container">
    <div class="row">
    <div class="form-group">
        <div class="col-sm">
            <label >Name</label>
            <input type="text" class="form-control"  />
        </div>
        <div class="col-sm">
            <label >Father Name</label>
            <input type="text" class="form-control" />
        </div>
        <div class="col-sm">
            <label >Mother Name</label>
            <input type="text" class="form-control"  />
        </div>
    </div>
    </div>
    <div class="row">
    <div class="form-group">

        <div class="col-sm">
            <label>Date of Birth</label>
            <input type="text" class="form-control" placeholder="yyyy-MM-dd" id="dob" />
        </div>
        <div class="col-sm">
            <label>Date of Birth</label>
            <input type="text" class="form-control" placeholder="yyyy-MM-dd"   />
        </div>
        <div class="col-sm">
            <label>Date of Birth</label>
            <input type="text" class="form-control" placeholder="yyyy-MM-dd"   />
        </div>
    </div>
</div>
</body>
</html>